.icon {
  max-width: 50px;
  max-height: 50px;
}

table > thead > tr > th {
  vertical-align: bottom;
}

table > tbody > tr {
  &:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
  }
  > td {
    padding: .2em .7em;

    .partialVersion, .version, .symbol {
      background: lightgray;
      border-radius: 9px;
      display: inline-block;
      margin-right: 5px;
      padding: 1px 4px;
    }

    &.supported .version {
      background: lightgreen;
    }

    &.supported .symbol {
      background: lightgreen;
    }

    &.none .symbol {
      background: pink;
      font-size: 10px;
    }

    .partialVersion {
      background: lightblue;
    }

    > sup > a {
      font-size: 8px;
      text-decoration: none;
      margin-right: 2px;
    }
  }
}
